USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_Report_ChiTietPhieu]    Script Date: 31/10/2021 11:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_Report_ChiTietPhieu]
@ROLE NVARCHAR(8),
@LOAI NVARCHAR(4), 
@FROM DATE, 
@TO DATE
AS
BEGIN


	IF (@ROLE = 'CONGTY')
	BEGIN
		IF (@LOAI = 'NHAP')
		BEGIN
			SELECT FORMAT(NGAY,'MM-yyyy') AS THANGNAM,TENVT, SOLUONG, DONGIA
			FROM (SELECT MAVT, TENVT FROM VATTU) VATTU,
				((SELECT MAPN, NGAY FROM PhieuNhap
				WHERE FORMAT(PhieuNhap.NGAY,'MM-yyyy') BETWEEN  FORMAT(@FROM,'MM-yyyy') AND FORMAT(@TO,'MM-yyyy'))
				UNION
				(SELECT MAPN,NGAY FROM LINK1.QLVT.dbo.PhieuNhap 
				WHERE FORMAT(PhieuNhap.NGAY,'MM-yyyy') BETWEEN  FORMAT(@FROM,'MM-yyyy') AND FORMAT(@TO,'MM-yyyy')  )) PN,
				(SELECT * FROM CTPN UNION SELECT * FROM LINK1.QLVT.dbo.CTPN) CT
			WHERE (VATTU.MAVT = CT.MAVT) AND(PN.MAPN=CT.MAPN)
			ORDER BY NGAY 
		END
		ELSE
		BEGIN
			SELECT FORMAT(NGAY,'MM-yyyy') AS THANGNAM,TENVT, SOLUONG, DONGIA
			FROM (SELECT MAVT, TENVT FROM VATTU) VATTU,
				((SELECT MAPX,NGAY FROM PhieuXuat 
				WHERE  FORMAT(PhieuXuat.NGAY,'MM-yyyy') BETWEEN  FORMAT(@FROM,'MM-yyyy') AND FORMAT(@TO,'MM-yyyy')) 
				UNION
				(SELECT MAPX,NGAY FROM LINK1.QLVT.dbo.PhieuXuat 
				WHERE  FORMAT(PhieuXuat.NGAY,'MM-yyyy') BETWEEN  FORMAT(@FROM,'MM-yyyy') AND FORMAT(@TO,'MM-yyyy'))) PX,
				(SELECT * FROM CTPX UNION SELECT * FROM LINK1.QLVT.dbo.CTPX) CT
			WHERE (VATTU.MAVT = CT.MAVT) AND(PX.MAPX=CT.MAPX)
			ORDER BY NGAY 
		END
	END
	ELSE
	BEGIN
		IF (@LOAI = 'NHAP')
		BEGIN
			SELECT FORMAT(NGAY,'MM-yyyy') AS THANGNAM,TENVT, SOLUONG, DONGIA
			FROM CTPN CT, 
				(SELECT MAVT, TENVT FROM VATTU) VATTU,
				(SELECT MAPN,NGAY FROM PhieuNhap 
				WHERE FORMAT(PhieuNhap.NGAY,'MM-yyyy') BETWEEN  FORMAT(@FROM,'MM-yyyy') AND FORMAT(@TO,'MM-yyyy')) PN
			WHERE (VATTU.MAVT = CT.MAVT) AND(PN.MAPN=CT.MAPN) 
		END
		ELSE
		BEGIN
			SELECT FORMAT(NGAY,'MM-yyyy') AS THANGNAM,TENVT, SOLUONG, DONGIA
			FROM CTPX CT, 
			(SELECT MAVT, TENVT FROM VATTU) VATTU,
			(SELECT MAPX,NGAY FROM PhieuXuat 
			WHERE FORMAT(PhieuXuat.NGAY,'MM-yyyy') BETWEEN  FORMAT(@FROM,'MM-yyyy') AND FORMAT(@TO,'MM-yyyy')) PX
			WHERE (VATTU.MAVT = CT.MAVT) AND(PX.MAPX=CT.MAPX) 
		END
	END
END
